@keyframes _shoot {
  0% {
    display: block !important;
    transform: translateX(0);
    width: 0.5rem;
  }
  15% {
    display: block !important;
    transform: translateX(0);
    width: 3rem;
  }
  70% {
    display: block !important;
    transform: translateX(30vw);
    z-index: 100;
    opacity: 1;
  }

  85% {
    display: block !important;
    opacity: 0.5;
    z-index: 100;
    width: 5rem;
    transform: translateX(30vw);
  }

  100% {
    display: none;
    opacity: 0;
    transform: translateX(30vw);
  }
}

.shoot {
  animation: _shoot 1.5s linear;
}

.hide {
  display: none;
}

@keyframes _rotate {
  from {
    transform: perspective(1000px) rotateZ(0deg);
  }
  to {
    transform: perspective(1000px) rotateZ(360deg);
  }
}

.rotate {
  animation: _rotate 1s infinite linear;
}

@keyframes _pop {
  0% {
    transform: scale(0.8) rotateZ(240deg);
  }
  50% {
    transform: scale(1.1) rotateZ(120deg);
  }
  100% {
    transform: scale(0.8) rotateZ(-120deg);
  }
}

.pop {
  animation: _pop 5s infinite ease-in-out;
}

@keyframes _flip {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

.flip {
  animation: _flip 1s ease-in-out;
}

@keyframes _lvlUp {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.lvlUp {
  opacity: 1;
  animation: _lvlUp 1s ease-out !important;
}

@keyframes _bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce {
  animation: _bounce 1.3s ease-in-out infinite;
}

@keyframes _fly1 {
  0% {
    transform: perspective(1000px) translateX(0);
  }
  25% {
    transform: perspective(1000px) translateX(-50rem) translateY(60rem);
  }
  50% {
    transform: perspective(1000px) translateX(20rem) translateY(60rem);
  }
  100% {
    transform: perspective(1000px) translateX(0) translateZ(-300rem);
  }
}

.fly1 {
  animation: _fly1 1s infinite;
}

@keyframes _fly2 {
  0% {
    transform: perspective(1000px) translateX(0);
  }
  25% {
    transform: perspective(1000px) translateY(40rem);
  }
  50% {
    transform: perspective(1000px) translateX(20rem) translateY(60rem);
  }
  100% {
    transform: perspective(1000px) translateX(0) translateY(-300rem);
  }
}

.fly2 {
  animation: _fly2 1s infinite;
}

@keyframes _fly3 {
  0% {
    transform: perspective(1000px) translateX(0);
  }
  50% {
    transform: perspective(1000px) translateX(0) translateZ(-300rem);
  }
  100% {
    transform: perspective(1000px) translateX(0) translateZ(0);
  }
}

.fly3 {
  animation: _fly3 1s infinite;
}

@keyframes _fly4 {
  0% {
    transform: perspective(1000px) translateX(0);
  }
  25% {
    transform: perspective(1000px) translateX(30rem);
  }
  50% {
    transform: perspective(1000px) translateX(40rem);
  }
  75% {
    transform: perspective(1000px) translateX(30rem);
  }
  100% {
    transform: perspective(1000px) translateX(0);
  }
}

.fly4 {
  animation: _fly4 1s infinite;
}

@keyframes _fly5 {
  0% {
    transform: perspective(1000px) rotateY(0);
  }

  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.fly5 {
  animation: _fly5 1s infinite;
}

@keyframes _lightsOnOff {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.lightsOnOff {
  animation: _lightsOnOff 3s ease-in;
}
